.txt-normal {
    font-family: 'Ysabeau Infant', sans-serif;
}
.container-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 20px;
    padding: 10px;
    width: 50%;
}
.precio-descripcion{
    width: 600px;
    margin-left: 50px;
}
.img-detail {
    width: 30rem;
}